name: Desplegar versiones de desarrollo.

on:
  push:
    branches:
      - master

jobs:
  deploy_to_github_packages:
    name: Desplegar a Github Packages.
    runs-on: ubuntu-latest
    steps:
      - name: Descargar el código.
        uses: actions/checkout@v2

      - name: Instalar Java 8.
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 8
          server-id: github
          settings-path: ${{ github.workspace }}

      - name: Regenerar los paquetes.
        run: mvn -B install

      - name: Desplegar uberjar.
        run: mvn -B -f uberjar/pom.xml -s $GITHUB_WORKSPACE/settings.xml -P deploy_github_packages deploy
        env:
          GITHUB_TOKEN: ${{ github.token }}

  deploy_to_ossrh:
    name: Desplegar a OSSRH
    runs-on: ubuntu-latest
    steps:
      - name: Descargar el código.
        uses: actions/checkout@v2

      - name: Importar llave GPG.
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.GPG_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Instalar Java 8.
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 8
          server-id: ossrh
          server-username: OSSRH_USERNAME
          server-password: OSSRH_PASSWORD

      - name: Desplegar a OSSRH.
        run: mvn deploy -P release
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
