name: Pruebas previas a integración.

on:
  pull_request:
    branches:
      - master
    paths:
      - '**/*.xsd'
      - '**/*.java'
      - '**/*.xml'
      - '**/*.xjb'
      - '.github/workflows/pre_integration_tests.yml'

jobs:
  unit_tests:
    name: Ejecución de pruebas unitarias.
    runs-on: ubuntu-latest

    steps:
      - name: Descargar el código.
        uses: actions/checkout@v4

      - name: Instalar Java 11.
        uses: actions/setup-java@v4
        with:
          distribution: 'jetbrains'
          java-version: 11

      - name: Caché de paquetes de Maven.
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Verificación.
        run: ./mvnw -B verify -P coverage

      - name: Publicar reporte de cobertura de código.
        run: ./mvnw sonar:sonar -P coverage
